.sidebar{
    top: 70px;
}

#main-header {
    background-color: #45839f !important;
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
    background-color: #666;
}

h1, .h1 {
    color: #cccccc;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.page-title-heading {
    margin-bottom: 3rem;
}